.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 40px;
  padding: 5px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.form-group {

}

html {
  font-size: 12px;
}

h1 {
  margin-top:10px;
  font-size:1.25rem;
}
body{
  font-size: 1rem;
}
form {
  width:500px;
  margin:auto;
  margin-top:30px;
}


input {
  padding:4px;
  font-size:1rem;
}
button {
  margin:5px;
}

.buttons {
  float:right;
}
label{
  float:left;
  font-size:1rem;
  padding:4px 10px 2px 0px;
}

.form-control {  
  font-size:1rem;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
